@using events.tac.local.Models

@using TAC.Utils.Helpers
@model events.tac.local.Models.EventList
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Importer/Views/Shared/Layout.cshtml";
}

div class="content-list newslist">
    <ol class="media-list">
        @foreach (var item in Model.Events)
        {
            <li class="media media-align-middle">
                <div class="media-left">
                    <a href="Event-Detail.html">@item.EventImage</a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="Event-Detail.html">@item.ContentHeading</a>
                    </h3>
                    <div class="description">
                        <p>@item.ContentIntro</p>
                    </div>
                </div>
                <div class="metadata well">@item.EventStartDate</div>
            </li>
        }
    </ol>
</div>
@Html.Pager(Model.PageSize, Model.TotalResultCount) 